html, body, #app{
    width: 100%;
    height: 100%;
    background: #e1e1e1;
    font-size: 0.14rem;
}
.mine-box{
    width: 100%;
    height: 100%;
}
.mine-box .mine-box-item{
    height: 0.46rem;
    line-height: 0.46rem;
    color: #333333;
    padding: 0 0.15rem;
    font-size: 0.15rem;
    vertical-align: middle;
    background: #fff;margin-top:0.09rem;
}
.mine-box .mine-box-item img{
    float: right;
    width: 0.15rem;
    height: 0.15rem;
    padding-top: 0.15rem;
}
.mine-box .mine-box-item i{
    float:right;
    font-size:0.12rem;
    color:#bababa;
    margin-right:0.1rem;
}
#pages{width:100%;height:100%;position:absolute;top:0;bottom:0; z-index: 6;background: #e1e1e1;}
.pages{width:100%;height:100%;position:absolute;top:0;bottom:0; z-index: 6;}
.bg1{background: #f5f5f5;}
.bg2{background: #fff;}
#pageContent{top:0.48rem;bottom:0;}
.about-list{font-family:SourceSansPro-Regular;margin-top:0.095rem;color:#4a4a4a;font-size:0.12rem;padding:0 0.15rem 0.3rem;line-height:0.165rem;}
.about-list i{color:#000;display: block;margin:0.2rem 0;}